.full_width_hero.ring_setting_hero {
    width: 100%;
    height: 305px;
    background-image: url(../assets/img/browserings_hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.38);
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.38);
    position: relative;
}
div#ring_table_length label,div#wedding_band_table_length label {
    font-size: 10px;
    float: left;
    text-transform: uppercase;
    color: #8b8b8b;
    padding-top: 17px;
    padding-right: 10px;
}

div#ring_table_length select,div#wedding_band_table_length select {
    border: 1px solid #110c0e;
    background-color: #fafafa;
    width: 53px;
    -moz-appearance:none!important;
    margin-bottom: 12px;
    cursor: pointer;
    height: 32px;
    background-image: url(../assets/img/down_chevron.png);
    margin-top: 7px;
    background-size: 21%;
    padding-left: 10px;
    background-position: 91% center;
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 0!important;
    -webkit-appearance: none!important;
    font-family: fashion;
    position: relative;
    vertical-align: top;
    top: -13px;
    margin-left: 8px;
    margin-right: 10px;
    padding-right: 12px;
}

div#ring_table_length,div#wedding_band_table_length {
    width: 300px;
    display: block;
}

table#ring_table, table#wedding_band_table {
    display: block!important;
    width: 100%!important;
    padding-bottom: 24px;
    border: 0;
}
table#ring_table tbody tr td:nth-of-type(4) {
    display: none!important;
}
table#ring_table thead, table#wedding_band_table thead {
    display: inline-block!important;
    background-color: transparent;
    width: auto;
    margin-bottom: 12px;
    position: absolute!important;
    cursor: pointer;
    top: 0;
    height: 32px;
    right: 0;
    width: 366px;
    margin-top: 7px;
    margin-right: 0!important;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
    padding-right: 12px;
}

table#ring_table tbody,table#wedding_band_table tbody {
    width: 100%!important;
    display: block!important;
}

table#ring_table tbody tr,table#wedding_band_table tbody tr {
    display: inline-block!important;
    width: 30%;
    margin-right: 1%;
    margin-bottom: 10px;
    color: #FFFFFF;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    height: 240px;
    position: relative;
    background-size: 100%;
}

table#ring_table tbody tr td,table#wedding_band_table tbody tr td {
    display: block!important;
    padding: 0!important;
    position: relative;
    text-decoration: none;
    color:#FFFFFF;
    z-index: 1;
}

table#wedding_band_table tbody tr td{
    color:#FFFFFF;
    text-decoration: none;
}

table#wedding_band_table tbody tr td img{
    width: 100%!important;
    height: 100%;
}

table#ring_table thead tr,table#wedding_band_table thead tr{
    display: inline-block;
    position: relative;
    left: -1px;
    z-index: 100;
    top: -1px;
    left: -1px;
    right: -1px;
    width: 100%;
    border-bottom: 0;
    max-height: 28px;
}

table#ring_table thead tr th,table#wedding_band_table thead tr th {
    display: inline-block;
    text-align: left;
    padding: 5px 14px 2px;
    font-weight: 400;
    background: #FFFFFF;
    outline: 0;
    z-index: 1;
    position: relative;
    margin-right: 20px;
    width: calc(48% - 48px)!important;
    font-size: 13px;
    background-image: none!important;
    text-transform: capitalize;
    background-color: #fafafa;
    border: 1px solid #110c0e;
}

table#ring_table thead tr th:first-of-type,table#wedding_band_table thead tr th:first-of-type {
    display: none;
}

table#ring_table thead tr th:nth-of-type(2),table#wedding_band_table thead tr th:nth-of-type(2) {
    display: none;
}

table#ring_table tbody tr td:first-of-type,table#wedding_band_table tbody tr td:first-of-type {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
table#ring_table tbody tr td:first-of-type div.media,table#wedding_band_table tbody tr td:first-of-type div.media {
    left: 0;
    top: 0;
    background-size:100%;
    right: 0;
    bottom: 0;
}
table#ring_table tbody tr td:first-of-type img, table#wedding_band_table tbody tr td:first-of-type {
    height: 100%!important;
    width: auto!important;
}

table#ring_table tbody tr td:first-of-type:after,table#wedding_band_table tbody tr td:first-of-type:after {
    content: '';
    bottom: 0;
    height: 120px;
    left: 0;
    background-image: url(../assets/img/image_gradient.png);
    position: absolute;
    right: 0;
    background-repeat: repeat-x;
    z-index: 1;
    opacity: .5;
    width: 100%;
    -webkit-transition: all .200s ease-in;
    transition: all .200s ease-in;
}
.ring_setting_hero .content_wrapper_97 > h1,.ring_setting_hero .content_wrapper_97 > p {
    width: 100%;
    text-align: left;
    padding-top: 77px;
    font-weight: 300;
    font-family: genath;
    font-size: 37px;
    color: #FFFFFF;
    letter-spacing: 2.25px;
    z-index: 2;
    position: relative;
    text-transform: uppercase;
    padding-left: 40px;
    padding-right: 40px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
}

.ring_setting_hero .content_wrapper_97 > p {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 14px;
    font-size: 17px;
    width: 100%;
    font-family: fashion;
    line-height: 22px;
    font-weight: 400;
    max-width: 600px;
    text-transform: inherit;
    margin: 0 auto;
    letter-spacing: .1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
    margin-left: 0;
}

.ring_setting_results{
    width: 100%;
    margin: 34px auto;
    text-align: center;
}

img.image_gradient {
    bottom: 0;
    height: 120px;
    left: 0;
    background-image: url(../assets/img/image_gradient.png);
    position: absolute;
    right: 0;
    opacity: .5;
    width: 100%;
    -webkit-transition: all .5s ease;
}

.grid-item.ring_setting_item:hover .image_gradient {
    opacity: 1;
}

.grid-item.ring_setting_item:hover:after {
    opacity: .7;
}

.ring_setting_item:hover .ring_setting_product_info > span.favorite_wrapper {
    opacity: 1;
}

.grid-item.ring_setting_item:hover .ring_setting_product_info {
    border-color: #FFFFFF;
}

.grid-item.ring_setting_item {
    width: 30%;
    margin-right: 1%;
    margin-bottom:10px;
    cursor: pointer;
    display: inline-block;
    height: 240px;
    position: relative;
    background-size:100%;
}

.browse_ring_filters {
    margin-left: 40px;
    padding: 20px 12px;
    margin-right: 0;
    display: inline-block;
    float: left;
    border-right: 1px solid #dbdbdb;
    width: 320px;
    height: auto;
    padding-right: 12px;
}

.customization_dropdown_box {
    display: none;
    padding: 8px 0 6px;
    position: absolute;
    left: -1px;
    z-index: 100;
    right: 20%;
    top: 112%;
    background-color: #fafafa;
    border: 1px solid #110c0e;
}
.active_dropdown_box.customization_dropdown_box{
    display:block;
}
.customization_dropdown_box:after, .customization_dropdown_box:before {
    bottom: 100%;
    left: 22%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.customization_dropdown_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 9px;
    margin-left: -9px;
}
.customization_dropdown_box:before {
    border-color: rgba(17, 12, 14, 0);
    border-bottom-color: #110c0e;
    border-width: 10px;
    margin-left: -10px;
}
.customization_dropdown_box li {
    padding: 5px 12px 5px;
    font-size: 12px;
    line-height: 17px;
    color: #8b8b8b;
    -webkit-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

.customization_dropdown_box li.selected,.customization_dropdown_box li:hover {
    background-color: #eaeaea;
    color: #110c0e;
}

.setting_filter_column:last-child {
    border-bottom: 0;
}

.setting_filter_column {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 100%;
    padding-bottom: 14px;
    padding-top: 14px;
    border-bottom: 1px solid #dbdbdb;
}

a.page_toggle_arrow.prev_page {
    margin-right: 3px;
    margin-left: 3px;
}

.setting_filter_column > h5 {
    font-family: genath;
    color: #110c0e;
    font-weight: 100;
    letter-spacing: .15px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.setting_filter_column.setting_filter_column_style {
    text-align: center;
}

.setting_filter_column label span {
    font-size: 12.5px;
    font-weight: 400;
    letter-spacing: .68px;
}

.setting_filter_column.setting_filter_column_style label {
    display: inline-block;
    width: calc(33.333% - 4px);
    float: left;
    padding-left: 0;
    padding-right: 10px;
    height: 108px;
}
div#browse_bands_filter_block .setting_filter_column_style label img {
    width: 48%;
    margin: 0 auto;
}


.setting_filter_column.setting_filter_column_style label img {
    width: 100%;
    display: block;
}

.setting_filter_column.setting_filter_column_style label span:first-of-type {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 7px;
    line-height: 14px;
}
.setting_results_right_wrapper {
    display: inline-block;
    width: -webkit-calc(100% - 400px);
    width: -moz-calc(100% - 400px);
    width: calc(100% - 400px);
    min-height: 700px;
    padding-left: 24px;
    -webkit-box-shadow: 0 -2px 1px rgba(255, 255, 255, 0.15) inset;
    box-shadow: 0 -2px 1px rgba(255, 255, 255, 0.15) inset;
}

.setting_results_header {
    width: 100%;
    position: relative;
    text-align: center;
    height: 60px;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-top: 12px;
}

.results_found_detail > p {
    font-size: 10px;
    text-transform: uppercase;
    color: #8b8b8b;
    padding-top: 14px;
    font-weight: 400;
}

.setting_results_header > div {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 22px;
}

.setting_results_header .setting_results_sort_wrapper {
    float: left;
    text-align: left;
    width: auto;
    left: 20px;
    padding-left: 10px;
    background: #f3f3f3;
}

.results_found_detail {
    width: 195px;
    margin: 0 auto;
    display: block!important;
    /* background-image: url(../assets/img/border_detail.png); */
    background-size: 100% 89%;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background: #f3f3f3;
}

.product_customization_dropdown_wrapper {
    border: 1px solid #110c0e;
    background-color: #fafafa;
    width: auto;
    margin-bottom: 12px;
    cursor: pointer;
    height: 32px;
    margin-top: 7px;
    padding-left: 10px;
    display: inline-block;
    position: relative;
    float: right;
    vertical-align: top;
    margin-right: 10px;
    padding-right: 12px;
}

.product_customization_dropdown_wrapper label {
    display: inline-block;
    /* float: left; */
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 6px 8px 7px 10px;
    color: #484848;
}

span.selected_customization {
    margin-top: 5px;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 13px;
    float: right;
    letter-spacing: .3px;
    padding-right: 14px;
}

.setting_results_header > div > label {
    font-size: 10px;
    float: left;
    text-transform: uppercase;
    color: #8b8b8b;
    padding-top: 13px;
    padding-right: 10px;
}

.setting_results_header > .setting_results_per_page {
    float: right;
    width: auto;
    position: absolute;
    right: 20px;
    left: auto;
    top: 34px;
    padding-left: 10px;
    background: #f3f3f3;
}
.setting_filter_column.setting_filter_column_style label span:last-of-type {
    display: block;
    position: relative;
    left: auto;
    top: auto;
}

.setting_filter_column_style span.mdl-checkbox__box-outline {
    position: relative;
}

.setting_filter_column:last-child {
    border-bottom: 0;
}

.ring_setting_product_info {
    position: absolute;
    left: 18px;
    z-index: 2;
    padding-top: 10px;
    right: 18px;
    bottom: 0;
    border-top: 1px solid transparent;
    color: #FFFFFF;
    height: 54px;
    -webkit-transition: all .200s ease-in;
}

.ring_setting_product_info > h4, .ring_setting_product_info > p {
    display: inline-block;
    font-size: 12px;
    text-align: right;
    position: absolute;
    right: 0;
    top: 6px;
    float: right;
    vertical-align: top;
}

.ring_setting_product_info > h4 {
    font-size: 12px;
    text-align: left;
    float: left;
    padding-right: 38px;
    position: relative;
    line-height: 16px;
    top: auto;
}

#ring-sorter .customization_dropdown_box{
    width:150px;
}
.ring_setting_product_info span.favorite_wrapper img{
    width:16px;
}
.ring_setting_product_info > span.favorite_wrapper{
    position:absolute;
    left:0;
    opacity: 0;
    top: -28px;
    -webkit-transition: all .200s ease-in;
}

.ring_setting_product_info > span.favorite_wrapper a img {
    width: 16px;
}

img.image_gradient:after {
}
.page_toggle_wrapper {
    float: right;
    padding-right: 9px;
    display: inline-block;
    padding-left: 8px;
}

.page_toggle_wrapper p {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    padding-top: 12px;
    display: inline-block;
}

a.page_toggle_arrow {
    width: 8px;
    margin-bottom: -4px;
    height: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../assets/img/left_arrow_black.png);
    background-size: 100%;
}
a.page_toggle_arrow.next_page {
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
}
.grid-item.ring_setting_item:after {
    content: '';
    bottom: 0;
    height: 120px;
    left: 0;
    background-image: url(../assets/img/image_gradient.png);
    position: absolute;
    right: 0;
    background-repeat: repeat-x;
    z-index: 1;
    opacity: .5;
    width: 100%;
    -webkit-transition: all .200s ease-in;
}

@media screen and (max-width:1210px){
    .browse_ring_filters{
    margin-left: 9px;
    width: 250px;
}
    .setting_results_right_wrapper{
    width: -webkit-calc(100% - 280px);
    width: -moz-calc(100% - 280px);
    width: calc(100% - 280px);
}
}

@media screen and (max-width:1040px){
    .browse_ring_filters{
    margin-left: 20px;
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
    display: block;
    float: none;
    padding-left: 26px;
    padding-right: 20px;
    background: #eaeaea;
    position: relative!important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.63);
    border-left: 1px solid #dbdbdb;
    padding-bottom: 4px;
    top: 0!important;
    height: auto;
    overflow: hidden;
    transition: .5s ease;
    max-height: 59px;
    }
    .setting_filter_column{
    width: 174px;
    margin-right: 46px;
    border: 0;
    max-width: 300px;
    }
    .setting_filter_column.setting_filter_column_style{
    width: 300px;
}
    .setting_results_right_wrapper{
    display: block;
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: calc(100% - 20px);
    margin-top: -20px;
    margin-left: 0!important;
}
}

@media screen and (max-width:769px){
    .grid-item.ring_setting_item{
        width:48%;
    }
}

@media screen and (max-width:690px){
    .browse_ring_filters{margin-left: -6px;margin-right: 5px;width: calc(100% + 12px);width: calc(100% + 12px);width: calc(100% + 12px);margin-top: 0px;border-top: 2px solid rgba(186, 187, 191, 0.22);}
    span.selected_customization{
        font-size:10px;
    }    
    .setting_results_header{
    height: 100px;
    padding-top: 53px;
}
    .page_toggle_wrapper p{
        font-size:10px;
    }
    .results_found_detail{
    margin-top: -50px;
}
    .setting_results_header > .setting_results_per_page{
    top: 74px;
    right: 5px;
}
    .setting_results_header .setting_results_sort_wrapper{
        left: 5px;
    }
    .setting_results_right_wrapper{

    padding-left: 5px;width: -webkit-calc(100% - 5px);     width: -moz-calc(100% - 5px);     width: calc(100% - 5px);}
}

@media screen and (max-width:480px){
    .browse_ring_filters{

    }
    .setting_results_header{}
    .results_found_detail{
left: -90px;}
    .setting_results_right_wrapper{

    }

    .grid-item.ring_setting_item{
    width: 100%;
    margin-right: 0;
    }
    .page_toggle_wrapper{
        position: absolute;
        top: -48px;
        width: 100px;
        right: 0;
    }
}

table#ring_table thead.hack_sorter tr {
    max-height: 200px;
}

table#ring_table thead tr th:nth-of-type(4), table#ring_table thead tr th:nth-of-type(5),table#wedding_band_table thead tr th:nth-of-type(4),table#wedding_band_table thead tr th:nth-of-type(5),table#wedding_band_table thead tr th:nth-of-type(7),table#wedding_band_table thead tr th:nth-of-type(8) {
    display: none;
}

#ring_table_filter tr th:after,#wedding_band_table_filter tr th:after{
    content:'';
    background-image: url(../assets/img/sort_both.png);
    position: absolute;
    right: 7px;
    background-size: 100%;
    display: block;
    width: 8px;
    z-index: 100000;
    height: 20px;
    top: 13px;
    background-repeat: no-repeat;
}

table#ring_table thead tr th:after,table#wedding_band_table thead tr th:after {
    content: '';
    background-image: url(../assets/img/sort_both.png);
    position: absolute;
    right: 7px;
    background-size: 100%;
    display: block;
    width: 8px;
    z-index: 100000;
    height: 20px;
    top: 10px;
    background-repeat: no-repeat;
}

table#wedding_band_table tbody tr:after {
    content:'';
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 73px;
    background: #FFFFFF;
    height: 1px;
    opacity: 0!important;
    z-index: 2;
    -webkit-transition: all .200s ease-in;
    transition: all .200s ease-in;
}



table#ring_table tbody tr:hover td:first-child:after,table#wedding_band_table tbody tr:hover td:first-child:after {
    opacity: .75;
}

table#ring_table tbody tr:hover:after,table#wedding_band_table tbody tr:hover:after {
    opacity: 1;
}

table#ring_table tbody tr td:nth-of-type(2),table#wedding_band_table tbody tr td:nth-of-type(2) {
    position: absolute;
    bottom: 9px;
    left: 10px;
    line-height: 18px;
    letter-spacing: .6px;
    font-size: 16px;
    right: 30%;
    font-family: 'Genath';
    text-transform: capitalize;
    font-weight: 100;
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
}

table#ring_table tbody tr td:nth-of-type(3),table#wedding_band_table tbody tr td:nth-of-type(3) {
    position: absolute;
    bottom: 6px;
    font-size: 13px;
    right: 10px;
    width: 25%;
    letter-spacing: -.7px;
    font-weight: 600;
    text-align: right;
    font-family: 'Univers', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
}

table#ring_table tbody tr td:nth-of-type(4),table#wedding_band_table tbody tr td:nth-of-type(4) {
    position: absolute;
    bottom: 55px;
    font-size: 14px;
    font-weight: 600;
    display: none!important;
    left: 18px;
    -webkit-transition: all .200s ease-in;
    transition: all .200s ease-in;
    opacity: 0;
}

table#ring_table tbody tr:hover td:nth-of-type(4),table#wedding_band_table tbody tr:hover td:nth-of-type(4) {
    opacity: 1;
}

table#wedding_band_table tbody tr td:nth-of-type(5){
    display: none!important;
}
table#wedding_band_table tbody tr td:nth-of-type(6){display: none!important;}
table#wedding_band_table tbody tr td:nth-of-type(7){display: none!important;}
table#wedding_band_table tbody tr td:nth-of-type(8){display: none!important;}

table#ring_table tbody tr:before,table#wedding_band_table tbody tr:before {
    content: 'Select';
    position: absolute;
    top: 18px;
    z-index: 98;
    right: 18px;
    width: 79px;
    height: 30px;
    font-weight: 400;
    padding-top: 4px;
    -webkit-transition: all .200s ease-in;
    transition: all .200s ease-in;
    font-size: 14px;
    background: #110c0e;
    opacity: 0;
    text-align: center;
    background-color: #e0b300!important;
    border-radius: 2px;
}

table#ring_table tbody tr:hover:before,table#wedding_band_table tbody tr:hover:before {
    opacity: 1;
}

li.flow_step.active .select-product div span a {
    color: #FFFFFF;
}


li.flow_step.active .select-product div span a:hover {
    border-color: #ffffff;
}

div#ring_table_filter input[type="search"],div#wedding_band_table_filter input[type="search"] {
    display: none;
}

div#ring_table_filter label,div#wedding_band_table_filter label {
    display: none;
}

a#ring_table_previous, a#ring_table_next,a#wedding_band_table_next, a#wedding_band_table_previous {
    width: 8px;
    margin-bottom: -4px;
    height: 15px;
    font-size: 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../assets/img/left_arrow_black.png);
    background-size: 19%;
    text-align: center;
    font-size: 0;
    background-position: center center;
    border-radius: 4px;
    position: relative;
    letter-spacing: .1px;
    overflow: hidden;
    outline: 0;
    background-color: #e5e5e5;
    width: 39px;
    margin-right: 12px;
    padding-bottom: 4px;
    height: 32px!important;
    border: 0!important;
    padding-bottom: 4px!important;
    color: #110c0e;
    font-weight: 500;
    border-top: 1px solid rgba(255, 255, 255, 0.075);
    border-bottom: 1px solid #A2A2A2!important;
}

div#ring_table_info,div#wedding_band_table_info {
    position: absolute;
    top: -6px;
    width: 240px;
    font-size: 10px;
    color: #8b8b8b!important;
    left: 150px;
}
div.filters_browse_container.expanded_mobile_browse_filters {
    max-height: 1200px;
}
a#ring_table_previous:after, a#ring_table_next:after,a#wedding_band_table_next:after,a#wedding_band_table_previous:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background: -webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%)!important;
    background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%)!important;
    bottom: 0;
}

a#ring_table_next,a#wedding_band_table_next {
    background-image: url(../assets/img/right_arrow_black.png);
}