@font-face {
    font-family: 'Knockout48';
    src: url('../assets/fonts/Knockout48.eot');
    src: url('../assets/fonts/Knockout48.eot') format('embedded-opentype'),
         url('../assets/fonts/Knockout48.woff2') format('woff2'),
         url('../assets/fonts/Knockout48.woff') format('woff'),
         url('../assets/fonts/Knockout48.ttf') format('truetype'),
         url('../assets/fonts/Knockout48.svg#Knockout48') format('svg');
}

@font-face {
    font-family: 'Knockout28';
    src: url('../assets/fonts/Knockout28.eot');
    src: url('../assets/fonts/Knockout28.eot') format('embedded-opentype'),
         url('../assets/fonts/Knockout28.woff2') format('woff2'),
         url('../assets/fonts/Knockout28.woff') format('woff'),
         url('../assets/fonts/Knockout28.ttf') format('truetype'),
         url('../assets/fonts/Knockout28.svg#Knockout28') format('svg');
}


body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow: hidden;
}
body.info_index {
    overflow: scroll;
}

/*=======================  TIMEOUT   ======================*/

p.taphere {
      color: #000;
      font-family: 'Knockout48';
      font-size: 150px;
      margin-top: 500px;
      margin-bottom: 50px;
      text-align: center;
    -webkit-animation: taphere 4s infinite ease-in-out;
    
  }
  @-webkit-keyframes taphere {
    30%, 60%  { transform:  scale(1); }
      
    40% { transform:  scale(.8); }
  }


  .header {
    background-color: #02abed;
      padding: 43px 0;
  }
    
  .timeout img.move {
      position: absolute;
      left: 50%;
      width: 250px;
      transform: translateX(-50%);
    -webkit-animation: img 4s infinite ease-in-out;
    
  }

  @-webkit-keyframes img {
    10%, 60%  { margin-top: 0; }
      
    40% { margin-top: -120px; }
  }


  .timeout {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 20000;
    background-position: center 1180px;
    background-color: white;
  }

  .timeout2 {
    z-index: 20001;
    background: white;
  }

  .timeout2 .taphere {
    position: absolute;
    top: -300px;
    width: 100%;
  }


  .timeout2 img.move {
    position: absolute;
    top: 282px;
    width: 9%;
  }

  .header h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 59px;
    color: white;
  }
.info_header h2 {
    text-transform: uppercase;
}
  .header p {
    text-align: center;
    font-size: 29px;
    color: white;
  }

/*  =============  GENERAL  ==============  */
main, .timeout {
background-size: 900px;
    background-position: center 1500px;
    background-repeat: no-repeat;
    height: 100vh;
    transition: background-position 2s;
}

h1, h2, .button, .alert strong {
  font-family: 'Knockout48';
  font-style: normal;
  font-weight: 400;
  margin: 0;
  color: white;
}

h1, .alert strong {
  width: 60%;
  margin: auto;
  text-align: left;
  font-size: 131px;
}

.alert strong {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}

.notification .logo_full {
  bottom: 150px;
}

h2 {
  font-size: 75px;
  color: #08439C;
}

p {
  font-size: 37px;
}

.click_action {
  transition: all .2s;
}

.button {
  font-size: 60px;
  padding: 30px 80px;
  background: rgb(0, 171, 236);
  text-decoration: none;
  display: block;
  width: 150px;
  margin: 60px auto;
  text-align: center;
}

.button img {
  width: 112px;
}

#in_page_alert_wrapper_nofitication {
    position: absolute;
    background: #00abec;
    width: 100%;
    padding: 20px 0;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    height: 100%;
    z-index: 5;
}

#in_page_alert_wrapper_nofitication h1 {
  font-size: 40px;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
main.trivia_page {
        background-image: url(../assets/img/stadium_bg.jpeg);
    background-size: cover;
    background-position: 0;
    background-color: #07439b66;
    background-blend-mode: multiply;
}
main.contact_page {
    background-image: url(../assets/img/contact_hero.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    transition: background-color 2s;
}

.banner {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    height: 200px;
    top: 75px;
    z-index: 99;
}
.swiper-container {
  width: 100%;
  height: 80vw;
  transition: opacity 0.6s ease;
}
.swiper-container.swiper-container-coverflow {
  padding-top: 2%;
}
.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}


/*  =============  HOME PAGE  ==================  */
.home {
  opacity: 0;
  transition: padding-top .5s, opacity .5s;
}

.logo {
  height: 157px;
  position: absolute;
  right: 140px;
}

.title_holder {
  padding-top: 250px;
  text-align: center;
}

.home_page {
  padding-top: 450px;
}

.home_page.title_holder h1, .home_page.title_holder p, .contact .title_holder h1, .contact .title_holder p {
  text-align: center;
}

.home_page.title_holder p, .contact .title_holder p {
  line-height: 1.6;
  font-size: 39px;
  margin-top: 24px;
}

.home_page .button, .contact .button {
  width: 276px;
  font-size: 39px;
  background-color: #7bb850;
  padding: 21px 53px;
}



.title_holder p {
  width: 60%;
  color: white;
  margin: auto;
  text-align: left;
  margin-top: 36px;
} 

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 76%;
    margin: auto;
  margin-top: 250px;
}
.choices.album {
    width: 70%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.choices.album img.gallery {
    width: 100%;
    margin-bottom: 50px;
}
.title_holder p {
  width: 60%;
  color: white;
  margin: auto;
  text-align: left;
  margin-top: 36px;
} 

.choices {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 557px;
  transition: margin-top 2s;
}
main.panoramic .choices {
    display: flex;
}
main.panoramic img.logo {
    display: none;
}

.choice {
  text-decoration: none;
  display: flex;
  align-items: center;
  background: rgb(0, 171, 236);
  width: 90%;
  margin-bottom: 3%;
  padding: 5px 40px;
  height: 125px;
  justify-content: flex-start;
  transition: all .2s;
}
a#spin_button {
    width: 340px;
    margin: 0 auto;
}
.choice:nth-child(even) {
    margin-right: 0px;
}

.choice:nth-child(1) {
  -webkit-animation: bounce_one 6s infinite ease-in-out;
    background-color: #CC071E;
}

.choice:nth-child(2) {
  background-color: #CC071E;
  -webkit-animation: bounce_two 6s infinite ease-in-out;
}

.choice:nth-child(3) {
  background-color: #000;
  -webkit-animation: bounce_three 6s infinite ease-in-out;
}

.choice:nth-child(4) {
  background-color: #7a54b5;
  -webkit-animation: bounce_four 6s infinite ease-in-out;
}

.choice:nth-child(5) {
  background-color: #4f3a71;
  -webkit-animation: bounce_five 6s infinite ease-in-out;
  
}

@-webkit-keyframes bounce_one {
  30%, 50%  { -webkit-transform: translateY(0); }
    
  40% { -webkit-transform: translateY(-10px); }
}

@-webkit-keyframes bounce_two {
  40%, 60%  { -webkit-transform: translateY(0); }
    
  50% { -webkit-transform: translateY(-10px); }
}

@-webkit-keyframes bounce_three {
  50%, 70%  { -webkit-transform: translateY(0); }
    
  60% { -webkit-transform: translateY(-10px); }
}

@-webkit-keyframes bounce_four {
  60%, 80%  { -webkit-transform: translateY(0); }
    
  70% { -webkit-transform: translateY(-10px); }
}

@-webkit-keyframes bounce_five {
  70%, 90%  { -webkit-transform: translateY(0); }
    
  80% { -webkit-transform: translateY(-10px); }
}

@-webkit-keyframes bounce_six {
  80%, 100%  { -webkit-transform: translateY(0); }
    
  90% { -webkit-transform: translateY(-10px); }
}

@-webkit-keyframes bounce_seven {
  90%, 110%  { -webkit-transform: translateY(0); }
    
  100% { -webkit-transform: translateY(-10px); }
}


.choice h2 {
    font-size: 45px;
    margin-left: 60px;
    color: white;
    text-align: center;
    margin-bottom: 0;
    font-family: 'Knockout28', 'Arial', 'sans-serif';
}

.choice img {
    width: 60px;
    filter: brightness(0) invert(1);
}

.logo_full {
  width: 333px;
  position: absolute;
  left: 50%;
  bottom: 115px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/**/



/*  =============  TRIVIA PAGE  ==================  */
.trivia_content {
  display: none;
  transition: all .5s;
  padding-top: 200px;
}

.trivia .title_holder p, .trivia .title_holder h1 {
  text-align: center;
}

.question { 
  padding: 50px 80px;
  background: rgba(255, 255, 255, .80);
  margin: auto;
  width: 65%;
  margin-top: 63px;
  margin-bottom: 68px;
  text-align: center;
}

.question p {
  font-size: 30px;
}

.answer, .answer_outcome {
  padding: 20px 80px;
  width: 65%;
  margin: auto;
  background: rgba(255, 255, 255, .80);
  margin-bottom: 30px;
  transition: opacity 2s ease-in-out;
  overflow: hidden;
}

.answer h2, .answer p, .answer_outcome h2, .answer_outcome p {
  display: inline-block;
  margin: 0;
}

.answer p, .answer_outcome p {
  margin-left: 25px;
  /*max-width: 461px;*/
}

.submit {
  position: relative;
  left: 732px;
  top: 45px;
  display: none;
}

.back_home, .back_sports {
  position: absolute;
  background: transparent;
  margin: 0;
  transition: all .5s;
  top: 8px;
  left: -42px;
}

.back_home img, .back_sports img {
  transition: all .5s;
  margin-top: -42px;
}

.right_answer {
  width: 99%;
  font-size: 60px;
  text-align: center;
  color: white;
}

.question_holder {
  display: none;
  transition: margin-top 1s;
  margin-top: 200px;
}

.title_holder + .question_holder{
  display: block;
  margin-top: 0px;
}

.correct_info p {
  font-size: 30px;
}

.trivia_completion {
  display: none;
  padding-top: 200px;
  transition: padding-top .5s;
}

.answer img, .answer_outcome img {
  width: auto;
  height: 247px;
  position: absolute;
  right: 107px;
}

.trivia .title_holder {
  padding-top: 184px;
}

/*question1 */
.trivia_content .question_holder:nth-of-type(2) .answer, .trivia_content .question_holder:nth-of-type(2) .answer_outcome {
  height: 207px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.trivia_content .question_holder:nth-of-type(2) .answer_outcome p {
  margin-top: 23px;
}

.trivia_content .question_holder:nth-of-type(2) .answer p {
  max-width: 461px;
  margin-top: 23px;
}

.trivia_content .question_holder:nth-of-type(2) .correct_info {
  padding: 68px 80px;
  display: none;
  background-color: white;
  height: auto;
}

.trivia_content .question_holder:nth-of-type(2) .correct_info p {
  max-width: 100%;
}



/*question2 */
.trivia_content .question_holder:nth-of-type(3) .answer, .trivia_content .question_holder:nth-of-type(3) .answer_outcome {
  height: 207px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.trivia_content .question_holder:nth-of-type(3) .answer p, .trivia_content .question_holder:nth-of-type(3) .answer_outcome p {
  max-width: 330px;
  margin-top: 23px;
}

.trivia_content .question_holder:nth-of-type(3) .correct_info {
  padding: 68px 80px;
  display: none;
  background-color: white;
  height: auto;
}

.trivia_content .question_holder:nth-of-type(3) .correct_info p {
  max-width: 100%;
}


/*question3 */
.trivia_content .question_holder:nth-of-type(4) .answer, .trivia_content .question_holder:nth-of-type(4) .answer_outcome {
  display: flex;
  padding: 40px 80px;
  align-items: center;
}

/*.trivia_content .question_holder:nth-of-type(4) .answer p{
  font-size: 32px;
}
*/


/*question4 */
.trivia_content .question_holder:nth-of-type(5) .answer img, .trivia_content .question_holder:nth-of-type(5) .answer_outcome img {
  height: 145px;
  margin-top: -20px;
}

.trivia_content .question_holder:nth-of-type(5) .correct_info {
  padding: 68px 80px;
  display: none;
  background-color: white;
  height: auto;
}

.trivia_content .question_holder:nth-of-type(5) .correct_info p {
  max-width: 100%;
}


/*question6 */
.trivia_content .question_holder:nth-of-type(7) .answer img, .trivia_content .question_holder:nth-of-type(7) .answer_outcome img {
  height: 115px;
  right: 130px;
  margin-top: -7px;
}

.trivia_content .question_holder:nth-of-type(7) .correct_info {
  padding: 68px 80px;
  display: none;
  background-color: white;
  height: auto;
}

.trivia_content .question_holder:nth-of-type(7) .correct_info p {
  max-width: 100%;
}



.trivia_content .question_holder .correct_info {
  padding: 68px 80px;
  display: none;
  background-color: white;
  height: auto;
}

.correct {
  height: auto !important;
  display: none;
  margin-top: -30px;
  background-color: rgb(141, 198, 63);
}

.wrong {
  height: auto !important;
  display: none;
  margin-top: -30px;
  background-color: #dd0014;
}



/**/

/*  =============  SPINNING WHEEL  ==================  */


    /*
Description:
    Contains all the styles for the winning wheel page.


/* Sets the background image for the wheel */
td.the_wheel
{
    margin-top: 100px;
    background-image: url(../assets/img/wheel_back.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
#wheel table tr {
    margin-top: 100px;
}

div.power_controls
{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.wheel_container {
    padding-top: 350px;
    text-align: center;
    position: relative;
}
.wheel_container h1 {
    color: #000;
    text-align: center;
    font-size: 60px;
    margin: 0 auto;
}
section.prompt {
    padding-top: 100px;
    padding-bottom: 100px;
}
#wheel{
  position:relative;
  overflow:hidden;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 50% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
        min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;
}
.modal-content p {
    text-transform: uppercase;
    font-family: 'Knockout28', 'Arial', 'sans-serif';
}
.modal-content img {
    margin-top: 50px;
}
.bottom_logo {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}
.bottom_logo p {
    text-transform: uppercase;
    margin-right: 40px;
    font-size: 50px;
    font-family: 'Knockout28', 'Arial', 'sans-serif';
}
.bottom_logo img {
    width: 250px;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




/*  =============  CONTACT PAGE  ==================  */
.contact_form form {
  width: 80%;
  margin: auto;
}

.contact_form {
  margin-top: 93px;
  display: none;
  padding-top: 100px;
  transition: padding-top .5s;
}

.contact {
  display: none;
  padding-top: 100px;
  transition: padding-top .5s;
}

.contact_form input {
  width: 50%;
  padding: 50px 80px;
  font-size: 40px;
  margin-bottom: 40px;
  background: rgba(255, 255, 255, .80);
  outline: none;
  border: none;
  font-family: 'Knockout28', 'Arial', 'sans-serif';
  transition: all .3s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.06);
  border: 1px solid #000;
    display: inline-block;
}

.contact_form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
.contact_form input::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
.contact_form input:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
.contact_form input:-moz-placeholder { /* Firefox 18- */
  color: #000;
}

.contact_form input:focus {
  background-color: white;
  color: #000;
}

.contact_form input.button {
  font-family: 'Knockout48';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  padding: 50px 80px;
  background: #CC071E;
    border: 0;
  text-decoration: none;
  display: block;
  width: 250px;
  margin: 60px auto;
  text-align: center;
  position: relative;
    display: inline-block;
}

/**/


/*  =============  360 VIEW PAGE  ==================  */
.stadium {
    padding-top: 350px;
} 

.panoramic .stadium h1 {
  text-align: center;
}

.panoramic .stadium p {
  text-align: center;
  line-height: 1.6;
  font-size: 39px;
  margin-top: 24px;
  width: 75%;
}

.pano_large {
  background-image: url('../assets/img/panoramic_large.jpg');
  background-position: center;
  background-size: 300%;
  transition: background-size 3s ease-in-out, background-position 3s ease-in-out;
-moz-transition: background-size 3s ease-in-out, background-position 3s ease-in-out;
-ms-transition: background-size 3s ease-in-out, background-position 3s ease-in-out;
-o-transition: background-size 3s ease-in-out, background-position 3s ease-in-out;
-webkit-transition: background-size 3s ease-in-out, background-position 3s ease-in-out;
}

.panoramic {
  background-image: url('../assets/img/panoramic_extra_small.jpg');
  background-position: center;
  background-size: 300%;
  transition: background-size 3s ease-in-out, background-position 3s ease-in-out;
-moz-transition: background-size 3s ease-in-out, background-position 3s ease-in-out;
-ms-transition: background-size 3s ease-in-out, background-position 3s ease-in-out;
-o-transition: background-size 3s ease-in-out, background-position 3s ease-in-out;
-webkit-transition: background-size 3s ease-in-out, background-position 3s ease-in-out;
}

.panoramic_holder {
  display: none;
  padding-top: 200px;height: 100%;
}

.rugby, .soccer {
  display: none;
}

.soccer .title_holder {
/*  padding-top: 550px;*/
}

.click_points {
  display: none;
}

.panoramic .title_holder .button {
  width: 36%;
  font-size: 46px;
  padding: 23px 80px;
  position: relative;
  right: 52px;
  background-color: #00abec;
}

/*.img_square {
  position: absolute;
  height: 123px;
  background: rgba(255, 255, 255, 0.80);
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_square img {
  max-height: 69px;
  max-width: 69px
}*/

.locator_box {
  position: absolute;
}

.locator {
  border-radius: 100%;
  background-color: #00abec;
  height: 15px;
  width: 15px;
  transition: all 5s;
}

.blue_text {
  color: #00abec;
  font-weight: 600;
}

#interview {
  padding-top: 41px;
  padding-bottom: 50px;
  left: 59px;
  top: 865px;
  padding-right: 0px;
  padding-left: 140px;
}

#audience1 {
  right: 244px;
  top: 891px;
  /*top: 983px;*/
  padding: 100px
}

#audience2 {
  padding: 100px;
  right: 88px;
  top: 490px;
}

#ref {
  bottom: 348px;
  left: 41px;
  padding-right: 75px;
  padding-bottom: 55px;
}

#jersey {
  bottom: 285px;
  left: 326px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 80px;
}

#adds {
  padding-left: 86px;
  padding-top: 0px;
  bottom: 324px;
  right: 83px;
  padding-bottom: 137px;
}

#soccer_jersey {
  right: 288px;
  bottom: 513px;
  padding-left: 77px;
  padding-bottom: 20px;
}

#soccer_bench {
  right: 22px;
  bottom: 781px;
  padding: 0 69px;
  padding-left: 0px;
  padding-bottom: 66px;
}

#audience3 {
  left: 72px;
  bottom: 836px;
}

#audience4 {
  right: 47px;
  top: 516px;
}

#soccer_banner {
  left: 218px;
  bottom: 626px;
  padding-left: 134px;
  padding-bottom: 61px;
}

#scoreboard {
  top: 293px;
  left: 170px;
  padding-right: 306px;
  padding-left: 215px;
  padding-bottom: 66px;
}

.soccer .back_sports img{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.overlay {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 100px 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.overlay h2, .overlay p {
  padding: 0 100px
}

.overlay p {
  line-height: 1.25;
  line-height: 1.25gb;
}

.x_box {
  display: inline-block;
  background: #00abec;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  position: relative;
  left: 955px;
  bottom: 18px;
}

.locator_box img {
  width: 118px;
  max-height: 97px;
  padding: 32px 29px;
  -webkit-animation: bounce 6s infinite ease-in-out;
}

@-webkit-keyframes bounce {
  40%, 60%  { -webkit-transform: translateY(0); }
    
  50% { -webkit-transform: translateY(-10px); }
}

.no_click {
  pointer-events: none;
}

/*================  INFO section  ===================*/
a.info_home {
  color: rgb(189,189,189);
  position: fixed;
}

#scroll {
  transform: rotate(-90deg);
  width: 112px;
  position: absolute;
  bottom: 87px;
  right: 50px;
  opacity: .7;
}

.contact_text {
  text-decoration: none;
  color: #26abed;
}


.future_of_sport {
  display: none;
}

.info {
  padding: 300px 50px;
  padding-bottom: 0px;
}

.info h1 {
  color: #6a6a6a;
  font-size: 86px;
  padding: 0;
  width: 100%;
  font-weight: 100;
  /*letter-spacing: 1.4px;*/
}

.info h2 {
  color: #000000;
  font-size: 37px;
  font-family: 'Knockout28';
  margin-bottom: 65px;
  font-weight: 100;
  /*letter-spacing: 1.4px;*/
}

.info p {
  color: #6a6a6a;
  line-height: 1.8;
  font-weight: lighter;
  font-size: 25px;
}

.image_section { 
  margin-top: 100px; 
  margin-bottom: 100px;
  text-align: center;
    position: relative;
}
.image_section a.button {
    position: absolute;
    top:175px;
    left: 0;
    right: 0;
    margin: auto;
    width: 350px;
    padding: 0;
    background:rgba(0, 171, 236,0.75)
}
.image_section img {
  max-width: 86%;
  margin-bottom: 0px;
}

.icon_section { 
  text-align: center;
  background-color: #000000;
  padding: 50px 50px;
}

.icon_section h2, .icon_section h3 {
  color: white;
  font-family: 'Knockout28';
  font-weight: 100;
}

.icon_section h2 {
  font-size: 65px;
  text-align: left;
}

.icon_circle {
  border-radius: 100%;
  border: 2px solid #00abec;
  height: 185px;
  width: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons_holder {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icon_circle img {
  width: 151px;
}

.icon {
  display: flex;
  width: 23%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon h3 {
  font-size: 43px;
  font-family: 'Knockout28';
  font-weight: 100;
  margin-top: 33px;
}

h4 {
  font-size: 40px;
  font-family: 'Knockout28';
  font-weight: 100;
  margin-top: 33px;
  color: #6a6a6a;
}

.methodology_section {
  background-color: #199ed6;
  padding: 50px 50px;
  text-align: center;
}

.methodology_section h2 {
  color: white;
  font-family: 'Knockout28';
  font-weight: 100;
  font-size: 65px;
  text-align: left;
}

.methodology_section img {
  box-shadow: -2px 8px 14px rgba(0, 0, 0, 0.32);
}

.methodology_holder {
  display: flex;
  justify-content: space-around;
  margin-top: 55px;
}

.method {
  background: white;
  width: 85%;
  padding: 10px;
  text-align: left;
    position: relative;
}
.method a.button {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    width: 350px;
    padding: 0;
    background: rgba(0, 171, 236,0.85);
}
.method h4 {
  margin-bottom: 25px;
}

.method ul { 
  padding-left: 24px;
}

.method li {
  color: #6a6a6a;
  font-weight: lighter;
  margin-bottom: 16px;
}

img {
  max-width: 100%;
  margin-bottom: 0px;
}

.power {
  padding: 50px 50px;
}

.power h2 {
  font-family: 'Knockout28';
  font-weight: 100;
  color: #000000;
  font-size: 65px;
    text-align: right;
}

.power h5 {
  font-size: 25px;
  margin-bottom: 10px;
}

.power p {
  margin-top: 0px;
  font-weight: lighter;
  font-size: 22px;
  width: 42%;
}

/*
.power img {
  bottom: 280px;
  position: relative;
  left: 541px;
  width: 416px;
}
*/

.footer {
  padding: 10px;
  background-color: #dbedf4;
/*  margin-top: -100px;*/
  font-size: 20px;
  text-align: center;
}

.footer .button {
 font-size: 36px;
  font-family: 'Knockout28';
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 25px;

}

.footer h3 {
  font-size: 36px;
  font-family: 'Knockout28';
  font-weight: 100;
  text-transform: uppercase;
}

/* ================  SPORTS CONNECT  =================*/
/*
.white {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
    top: 0;
    z-index: 100;
}
*/
main.connect_page {
    background: white;
    overflow: hidden;
}
.connect_page .connect1 {
    text-align: center;
    margin-bottom: 100px;
}
.connect_page h1 {
    background: transparent;
    height: auto;
    width: 100%;
    margin-top: 260px;
    position: relative;
    font-size: 80px;
    color: #00a9ea;
        display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.connect_page .connect1 p {
    color: #555c61;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
.connect_page .connect1 h2 {
    color: #555c61;
    font-size: 54px;
    display: inline-block;
    margin: 50px;
    margin-top: 10px;
    position: relative;
}
.connect_page .connect1 h2:after {
    background: #00a9ea;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 30px;
    right: -60px;
}
.connect_page .connect1 h2.no_dot:after {
    display: none;
}
.connect_page .start_btn {
    display: none;
    position: relative;
    width: auto;
    font-size: 39px;
    left: 29%;
    bottom: 390px;
    border: none;
    -webkit-animation: taphere 4s infinite ease-in-out;
}

/* ================  KEYBOARD  =================*/




/*IPAD VIEW*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { /* STYLES GO HERE */
    .choices{
        margin-top: 50px !important;
    }
    .choice {
        height: 85px;
        
    }
    main.home_page,
    .timeout {
        background-size: 330px;
        background-position: center 650px !important;
    }
    .header {
        padding: 15px 0;
    }
    .header h2 {
        margin-bottom: 0 !important;
        letter-spacing: 1px;
        font-size: 85px !important;
    }
    .header p {
        font-size: 22px !important;
        display: none;
    }
    p.taphere {
        margin-top: 50px !important;
        margin-bottom: 30px !important;
    }
    h1, .alert strong {
        font-size: 85px;
    }
    .title_holder {
        padding-top: 170px;
    }
    .title_holder p {
        width: 95%;
    }
    .contact .title_holder p br {
        display: none;
    }
    
        .stadium {
        padding-top: 200px;
    }
    .panoramic .stadium p {
        margin-top: 0;
        font-size: 28px;
        line-height: 1.1
    }
    

    .contact_form {
        margin-top: 40px;
    }
    .contact_form form {
        text-align: center;
    }
    .contact_form input {
        padding: 15px 30px;
        font-size: 22px;
        margin-bottom: 5px;
        border-radius: 0;

    }
    .contact_form input.button {
        left: auto;
        margin: 10px auto;
        font-size: 36px;
        padding: 15px 20px;
        -webkit-appearance:none;
        border-radius: 0;
    }
    .contact_form input#input4 {
        padding-bottom: 60px;
    }
    div.jQKeyboardContainer {
        display: none !important;
    }
    .panoramic .title_holder .button {
        position: absolute;
        bottom: 0;
        left: 0;
        right: auto;
        font-size: 36px;
        padding: 15px 30px;
        text-align: center;
        width: 100%;
    }
    #jersey {
        bottom: 600px;
        left: 200px;
    }
    #audience3 {
        bottom: 250px;
    }
    section.rugby.active h1,
    section.soccer.active h1{
        position: absolute;
        bottom: 70px;
        left: 30px;    
    }
    #soccer_banner {
        bottom:100px;
        padding-left: 80px;
    }
    #soccer_bench {
        bottom: 550px;
    }
    #soccer_jersey {
        right: 450px;
        bottom:430px;
    }
    .x_box {
        right: 20px;
        left: auto;
        top:20px;
        position: absolute;
    }
    #scoreboard {
        top:200px;
        left: 270px;
        padding: 10px;
    }
    .overlay {
        padding: 40px 0px;
    }
    h2 {
        font-size: 42px;
    }
    .question {
        padding: 10px; 
        margin-top: 15px;
        margin-bottom: 30px;
        width: 82%;
    }
    .question p {
        font-size: 24px;
        margin: 0;
    }
    .answer, .answer_outcome {
        height: auto !important;
        position: relative;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        margin-bottom: 25px;
        padding: 10px !important;
        width: 82% !important;
    }
    .answer_outcome.correct_info {
        padding: 10px !important;
        width: 82%;
    }
    .answer img, .answer_outcome img {
        height: 80px;
        right: 10px;
        top:10px;
    }
    .answer p, .answer_outcome p {
        margin-top: 5px !important;
        font-size: 22px !important;
    }
    .answer_outcome.correct_info p {
        font-size: 20px !important;
    }
    .trivia_index a.button.submit {
        right:0;
        left: auto;
    }
    .trivia .title_holder p {
        margin-top: 0;
    }
    .locator_box img {
        padding: 10px;
    }
/*
    .home_page,
    .title_holder.home_page{
        padding-top: 0;
    }

    .home_page.title_holder p, .contact .title_holder p {
        margin-top: 0;
        font-size: 28px;
        line-height: 1.1
    }

    .choice h2 {
        font-size: 30px;
    }
    .logo_full {
        bottom: 30px;
        width: 200px;
    }

*/
    
} 